.line {
	fill: black;
	stroke: black;
	stroke-width: 3;
}

.area {
	fill: url(#MyGradient);
}

.overlay {
	fill: none;
	pointer-events: all;
}

.anchor {
	display: inline-block;
	padding-bottom: 5px;
}

/* Style the dots by assigning a fill and stroke */
.dot {
	fill: #ffab00;
	stroke: #fff;
}

.focus circle {
	fill: none;
	stroke: steelblue;
}
